@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  row-gap: $padding-md;
  text-align: center;
  padding: $padding-md;

  @media (min-width: 768px) {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: $padding-lg 3rem;
    row-gap: 0;
  }

  &__top-bar {
    order: 1;
    justify-self: center;

    @media (min-width: 768px) {
      order: unset;
      grid-column: 2;
      grid-row: 1;
      align-self: center;
    }
  }

  &__middle-bar {
    order: 2;
    justify-self: center;

    @media (min-width: 768px) {
      order: unset;
      grid-column: 1;
      grid-row: 1;
      justify-self: start;
    }
  }

  &__search-bar {
    order: 3;
    justify-self: center;
    display: flex;

    @media (min-width: 768px) {
      order: unset;
      grid-column: 3;
      grid-row: 1;
      justify-self: end;
    }
  }

  &__date {
    margin: 0;
    color: $tertiary-color;
    font-size: 0.8rem;
    padding-bottom: $padding-sm;

    @media (min-width: 768px) {
      font-size: 1rem;
      padding-bottom: 0;
    }
  }

  .logo-link {
    text-decoration: none;
    color: $primary-color;

    .logo {
      font-size: 2.7rem;
      font-weight: 700;
      letter-spacing: -0.02em;
      // font-weight: bold;
      margin: 0;
      // font-size: 2rem;
      text-align: center;
      padding: $padding-sm 0 0;

      @media (min-width: 768px) {
        font-size: 3rem;
        padding: 0;
      }
    }
  }
}

.search-input {
  background-color: transparent;
  border: 1px solid #d3d3d3;
  color: $primary-color;
  padding: 0.5rem 1rem;
  font-size: 14px;
  border-right: none;
  border-radius: $border-radius-sm 0 0 $border-radius-sm;

  @media (min-width: 768px) {
    width: 250px;
  }
}
// .clear-btn {
//   background-color: transparent;
//   border: 1px solid #d3d3d3;
//   border-left: none;
//   cursor: pointer;
//   padding: 0.5rem;
//   height: 2.5rem;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   .clear-icon {
//     width: 15px;
//     height: 15px;
//     color: #999;

//     &:hover {
//       color: #333;
//     }
//   }
// }


// .search-btn {
//   background-color: transparent;
//   border: 1px solid #d3d3d3;
//   border-left: none;
//   border-radius: 0 $border-radius-sm $border-radius-sm 0;
//   cursor: pointer;
//   padding: 0.5rem;
//   height: 2.5rem;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   .search-icon {
//     width: 15px;
//     height: 15px;
//   }
// }
.search-btn {
  background-color: transparent;
  border: 1px solid #d3d3d3;
  border-left: none;
  border-radius: 0 $border-radius-sm $border-radius-sm 0;
  cursor: pointer;
  padding: 0.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .search-icon {
    width: 15px;
    height: 15px;
  }
}
