@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.topic-filters {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: $gap-sm;
  padding: $padding-sm;
  margin: $margin-md 0;
  justify-content: flex-start;

  &::-webkit-scrollbar {
    display: none;
  }

  &__button {
    font-family: $secondary-font;
    background-color: transparent;
    border: 1px solid $border-color;
    border-radius: $border-radius-md;
    color: $secondary-color;
    cursor: pointer;
    font-size: 0.8rem;
    padding: $padding-sm $padding-md;
    white-space: nowrap;
    transition: background-color 0.3s ease, color 0.3s ease;
     letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 600;

    &:hover {
      background-color: $bg-secondary;
      color: $primary-color;
    }

    &.active {
      background-color: $primary-color;
      color: $color-white;
      border-color: $primary-color;
    }
  }

  @media (min-width: 768px) {
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: visible;
  }
}
